<p-card  [style]="{ width: '360px' }" styleClass="login-form-card">
    <ng-template pTemplate="header">
        <img class="logo-instagram" alt="Instagram Logo" src="assets/logo-Instagram.png" />
    </ng-template>
    <div class="login-form-control-container">
        <input class="login-form-control p-inputtext-sm" type="text" pInputText size="small" placeholder="Phone number, username or email" />
        <input class="login-form-control p-inputtext-sm" type="text" pInputText size="small" placeholder="Password" />

        <p-button class="login-form-control-button" size="small" label="Log in"></p-button>

    </div>
    <p-divider align="center" >
        <small>OR</small>
    </p-divider>


    <ng-template pTemplate="footer">
       </ng-template>
</p-card>